@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}

/**********************Navbar****************************/
.navbar {
  z-index: 100;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-brand {
  max-width: 17.25rem;
}

.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange) !important;
  color: var(--primary-white) !important;
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange) !important;
  color: var(--primary-white) !important;
}
/**********************Header****************************/
.header-wrapper {
  position: relative;
  background: url(bgReactPF.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}

.main-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
.main-info > h1 {
  color: var(--primary-orange);
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
}

.main-info .typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}
.btn-main-offer {
  text-transform: uppercase;
  color: var(--primary-white) !important;
  border-color: var(--primary-red) !important;
}

.btn-main-offer:hover {
  text-transform: uppercase;
  color: var(--primary-white) !important;
  border-color: var(--primary-hover-red) !important;
  transition: 0.2s ease-in-out;
}
